In [1]:
import pandas as pd
import numpy as np
import csv

# Converting the files for Conll-2014 from txt to csv for both positive and negative sentences

In [6]:
# with open('pos.txt', 'r') as file:
#     lines = file.readlines()
    
# with open('pos.csv', 'w', newline='') as file:
#     writer = csv.writer(file)
#     for line in lines:
#         writer.writerow([line.strip()])

In [7]:
# with open('neg.txt', 'r') as file:
#     lines = file.readlines()
    
# with open('neg.csv', 'w', newline='') as file:
#     writer = csv.writer(file)
#     for line in lines:
#         writer.writerow([line.strip()])

# Converting the data into csv from jfleg dataset

In [8]:
val = pd.read_csv("train.csv")

In [30]:
val["input"] = val["input"].str.slice(start = 9)

In [31]:
val

,input,target
0,So I think we can not live if old people could...,So I think we would not be alive if our ancest...
1,So I think we can not live if old people could...,So I think we could not live if older people d...
2,So I think we can not live if old people could...,So I think we can not live if old people could...
3,So I think we can not live if old people could...,So I think we can not live if old people can n...
4,For not use car .,Not for use with a car .
...,...,...
3011,Sceene of violence can affect on them .,Scenes of violence can affect them .
3012,While the communities in general have reckoned...,The communities in general have reckoned that ...
3013,While the communities in general have reckoned...,While the communities in general have reckoned...
3014,While the communities in general have reckoned...,While the communities in general have recogniz...
3015,While the communities in general have reckoned...,While the communities in general believe that ...

In [34]:
val.to_csv('train_withouttag.csv', index=False)

In [35]:
valEval = pd.read_csv("eval.csv")

In [37]:
valEval["input"] = valEval["input"].str.slice(start = 9)

In [38]:
valEval

,input,target
0,New and new technology has been introduced to ...,New technology has been introduced to society .
1,New and new technology has been introduced to ...,New technology has been introduced into the so...
2,New and new technology has been introduced to ...,Newer and newer technology has been introduced...
3,New and new technology has been introduced to ...,Newer and newer technology has been introduced...
4,One possible outcome is that an environmentall...,One possible outcome is that an environmentall...
...,...,...
2983,"In other words , the image in the TV comercial...","In other words , the image in TV commercials i..."
2984,Members gather money for the funeral and help ...,Members gather money for the funeral to help t...
2985,Members gather money for the funeral and help ...,Members gather money for the funeral to help t...
2986,Members gather money for the funeral and help ...,Members gather money for the funeral and help ...
2987,Members gather money for the funeral and help ...,Members gather money for the funeral and help ...

In [39]:
valEval.to_csv("eval_withouttag.csv", index=False)

# Combining both the datasets

In [70]:
# pos.csv contains the positive sentences which are correct
# Whereas the neg.csv contains all the negative sentences which ate the input so incorrect


negative_sentences = pd.read_csv("neg.csv", dtype="str", names=["input"])
positive_sentences = pd.read_csv("pos.csv", dtype="str", names=["target"])

In [71]:
negative_sentences

                                                   input
0      This will , if not already , caused problems a...
1      The solution can be obtain by using technology...
2      Some countries are having difficulties in mana...
3      This caused problem like the appearance of slu...
4      The only way to satisfy the increasing demands...
...                                                  ...
21636  As an example , the during the 911 incident re...
21637  Although applying surveillance technology on p...
21638  With surveillance technology , such incident c...
21639  Similar situation can be seen in the military ...
21640  Opponents of surveillance technology argue tha...

[21641 rows x 1 columns]

In [72]:
positive_sentences

                                                  target
0      This will , if not already , cause problems as...
1      The solution can be obtained by using technolo...
2      Some countries are having difficulties in mana...
3      This has caused problems like the formation an...
4      The only way to satisfy the increasing demands...
...                                                  ...
21636  As an example , during the 911 incident rescue...
21637  Although applying surveillance technology on p...
21638  With surveillance technology , such incidents ...
21639  Similar situations can be seen in the military...
21640  The opponents of surveillance technology argue...

[21641 rows x 1 columns]

In [73]:
positive_sentences

                                                  target
0      This will , if not already , cause problems as...
1      The solution can be obtained by using technolo...
2      Some countries are having difficulties in mana...
3      This has caused problems like the formation an...
4      The only way to satisfy the increasing demands...
...                                                  ...
21636  As an example , during the 911 incident rescue...
21637  Although applying surveillance technology on p...
21638  With surveillance technology , such incidents ...
21639  Similar situations can be seen in the military...
21640  The opponents of surveillance technology argue...

[21641 rows x 1 columns]

In [76]:
total_dataset_conll = pd.concat([negative_sentences, positive_sentences], axis=1)
total_dataset_conll.columns = ['input', 'target']

In [77]:
total_dataset_conll

,input,target
0,"This will , if not already , caused problems a...","This will , if not already , cause problems as..."
1,The solution can be obtain by using technology...,The solution can be obtained by using technolo...
2,Some countries are having difficulties in mana...,Some countries are having difficulties in mana...
3,This caused problem like the appearance of slu...,This has caused problems like the formation an...
4,The only way to satisfy the increasing demands...,The only way to satisfy the increasing demands...
...,...,...
21636,"As an example , the during the 911 incident re...","As an example , during the 911 incident rescue..."
21637,Although applying surveillance technology on p...,Although applying surveillance technology on p...
21638,"With surveillance technology , such incident c...","With surveillance technology , such incidents ..."
21639,Similar situation can be seen in the military ...,Similar situations can be seen in the military...
21640,Opponents of surveillance technology argue tha...,The opponents of surveillance technology argue...

In [78]:
val.shape

(3016, 2)

In [79]:
valEval.shape

(2988, 2)

In [80]:
total_dataset_conll.shape

(21641, 2)

In [81]:


total_dataset = pd.concat([val, valEval, total_dataset_conll], axis = 0)

In [82]:
total_dataset

,input,target
0,So I think we can not live if old people could...,So I think we would not be alive if our ancest...
1,So I think we can not live if old people could...,So I think we could not live if older people d...
2,So I think we can not live if old people could...,So I think we can not live if old people could...
3,So I think we can not live if old people could...,So I think we can not live if old people can n...
4,For not use car .,Not for use with a car .
...,...,...
21636,"As an example , the during the 911 incident re...","As an example , during the 911 incident rescue..."
21637,Although applying surveillance technology on p...,Although applying surveillance technology on p...
21638,"With surveillance technology , such incident c...","With surveillance technology , such incidents ..."
21639,Similar situation can be seen in the military ...,Similar situations can be seen in the military...
21640,Opponents of surveillance technology argue tha...,The opponents of surveillance technology argue...

In [84]:
total_dataset.to_csv("total_dataset_jfleg_conll-2014.csv", index = False)

In [85]:
eval_total_dataset = total_dataset.sample(800)

In [87]:
eval_total_dataset

,input,target
9943,"In most cases , people complain about the time .",", people complain about time ."
13216,Technologies had also been designed to help th...,Technologies have also been designed to help t...
16700,Nuclear power has always been a very controver...,Nuclear power has always been a very controver...
5964,While current research and policies have helpe...,While current research and policies have helpe...
2784,In cases where the elder do not have any child...,In cases where the elderly do not have any chi...
...,...,...
17217,"These reactors , still in the designing and te...","These reactors , still in the designing and te..."
17000,Further researches have shown that Supercritic...,Further researches have shown that The Supercr...
6134,"Hence , I agree that the current architectural...","Hence , I agree that the current architectural..."
6105,"However , in Singapore , the financial burden ...","However , in Singapore , the financial burden ..."
15134,Having to incorporate all the safety and secur...,Having to incorporate all the safety and secur...

In [88]:
eval_total_dataset.to_csv("eval_total_dataset.csv", index=False)

In [89]:
total_dataset = total_dataset[~total_dataset.index.isin(eval_total_dataset.index)]

In [90]:
total_dataset

,input,target
0,So I think we can not live if old people could...,So I think we would not be alive if our ancest...
1,So I think we can not live if old people could...,So I think we could not live if older people d...
2,So I think we can not live if old people could...,So I think we can not live if old people could...
3,So I think we can not live if old people could...,So I think we can not live if old people can n...
4,For not use car .,Not for use with a car .
...,...,...
21636,"As an example , the during the 911 incident re...","As an example , during the 911 incident rescue..."
21637,Although applying surveillance technology on p...,Although applying surveillance technology on p...
21638,"With surveillance technology , such incident c...","With surveillance technology , such incidents ..."
21639,Similar situation can be seen in the military ...,Similar situations can be seen in the military...
21640,Opponents of surveillance technology argue tha...,The opponents of surveillance technology argue...

In [91]:
total_dataset.to_csv("total_train_dataset_jfleg_conll14.csv", index=False)

In [4]:
# reading datasetinfo

df = pd.read_csv("eval_total_dataset.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   input   800 non-null    object
 1   target  800 non-null    object
dtypes: object(2)
memory usage: 12.6+ KB